<div class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card dark-color m-t-40">
        <div class="card-content white-text">
          <h3 class="center-align card-title">Welcome {{user.fullname}}</h3>
          <p class="center-align">@{{user.username}}</p>
        </div>
        <div class="card-action center-align">
          <a href="/links/add">Store a new Link</a>
        </div>
      </div>
    </div>
  </div>
</div>