<div class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card dark-color m-t-40">
        <div class="card-content white-text">
          <div class="row">
            <span class="card-title center-aling">Signup</span>
            <form action="/signup" method="POST">
              <div class="input-field col s12">
                <input id="fullname" type="text" class="validate white-text" name="fullname">
                <label for="fullname">Fullname</label>
              </div>
              <div class="input-field col s12">
                <input id="username" type="text" class="validate white-text" name="username">
                <label for="username">Username</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate white-text" name="password">
                <label for="password">Password</label>
              </div>
              <div class="input-field col s12 center-align">
                <a href="/login" class="waves-effect waves-teal btn-flat white-text">Cancel</a>
                <button type="submit" class="waves-effect waves-light btn">Signup</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>